@tailwind base;
@tailwind components;
@tailwind utilities;
.homeHero {
  background-image: url("../../public/assets/image/heroSection/Hero Section1.png");
  background-size: cover;
  background-position: center;
}

.homeHero3 {
  background-image: url("../../public/assets/image/home/Carrer.png");
  background-size: cover;
  background-position: center;
}

.homeHero2 {
  background-image: url("../../public/assets/image/heroSection/Hero Section2.png");
  background-size: cover;
  background-position: center;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url('../../public/assets/fonts/Satoshi-Variable.ttf') format("truetype");
}
@font-face {
  font-family: "Lexend-Regular";
  src: url('../../public/assets/fonts/Lexend-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "NunitoSans";
  src: url('../../public/assets/fonts/NunitoSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url('../../public/assets/fonts/Poppins-Regular.ttf') format("truetype");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
::-webkit-scrollbar {
  width: 5.5px;
  scrollbar-width: thin;
}
::-webkit-scrollbar-thumb {
  background-color: #005B2F;
  border-radius: 12px;
}
::-moz-scrollbar-thumb {
  background-color: #005B2F;
  border-radius: 12px;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-scroll {
  animation: scroll 10s linear infinite;
}
.animation {
  height:1.8rem;
  overflow:hidden;
}
.animation > div > div {
  /* padding: 0.05rem 0.05rem; */
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}
.animation div:first-child {
  animation: text-animation 6s infinite;
  /* padding:3px 5px 2px 5px; */
}
.first div {
  background-color:#0c9955b9;
  padding:3px 5px 2px 5px;
}
.second div {
  background-color:#005b2fc2;
  padding:3px 5px 2px 5px;
}
.third div {
  background-color:#00a960d2;
  padding:3px 5px 0px 5px;
}
@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
